.header {
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 110px;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    filter: grayscale(100);
}

.box-imagen {
    margin: 45px;
}

#title {
    font-family: 'Coda Caption', sans-serif;
    font-size: 35px;
}