<button type="button" class="btn btn-secondary" (click)="openAdd()">Añadir</button>

<table class="table table-striped">
  <thead>
    <tr *ngIf="displayData">
      <th colspan="7">
        <div>
          <ngb-progressbar [value]="100" type="dark"  [animated]='true' [striped]='true'></ngb-progressbar>
        </div>
      </th>
    </tr>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Marca</th>
      <th scope="col">Submarca</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Modelo</th>
      <th scope="col" style="width:3.5%"></th>
      <th scope="col" style="width:3.5%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let auto of autos | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize">
      <th scope="row"> {{auto._id}} </th>
      <td>{{ auto.marca | uppercase }}</td>
      <td>{{ auto.submarca | uppercase }}</td>
      <td>{{ auto.descripcion | uppercase }}</td>
      <td>{{ auto.modelos | modelos }}</td>
      <td>
        <img (click)="openEdit(auto)" src="https://image.flaticon.com/icons/svg/1159/1159633.svg" alt="update">
      </td>
      <td>
        <img (click)="openDelete(auto)" src="https://image.flaticon.com/icons/svg/1214/1214428.svg" alt="trash">
      </td>
    </tr>
  </tbody>
</table>


<ngb-pagination class="pagination" [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos?.length">
</ngb-pagination>
