img {
    width: 20px;
    cursor: pointer;
}

.table td, .table th {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

button, .pagination {
    margin: 25px;
}

div.input-group {
    width: 25%;
    margin: 0px 0px 25px 25px;
    
}