<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Eliminar</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Estas seguro que deseas eliminar estos datos?</strong></p>
    <p>Marca: <strong>{{auto.marca}}</strong></p>
    <p>Submarca: <strong>{{auto.submarca}}</strong></p>
    <p>Descripcion: <strong>{{auto.descripcion}}</strong> </p>
    <p>Modelos: <strong>{{auto.modelos}}</strong> </p>
    <p>Toda la informacion asociada a estos datos quedara eliminada.
    <span class="text-danger">Esta operacion no se puede deshacer.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(auto)">Ok</button>
  </div>