.list {
    display: block;
    justify-content: center;

    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 85px;
    min-width: 300px;
    margin: 20px 10%;
    

    border: solid  rgba(0, 41, 82, 0.062);
    border-width: 3px;
    border-radius: 15px;

    background-color: #fff;
}

button {
    border: 0px;
    background-color: transparent;
}

.img {
    margin: 18px;
    cursor: pointer;
}

.data-car {
    font-size: 20px;
    margin: 18px;
}

img {
    width: 28px;
}
