/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #fdfdfd;
    justify-content: center;
}

footer {
    background-color: #231903;
}

.ng-valid[required]{
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}